APP_NAME=Fed
APP_ENV=local
APP_KEY=base64:/+rHSMj74DfeUycCg76cqOC8qOL0MB7iApbAGHY6kMk=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=fed_db
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=wizworks.pk@gmail.com
MAIL_PASSWORD="vcwa dxjz izpr ghld"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


# Stripe Keys
STRIPE_KEY=pk_test_51PaeHDRt9EMRKboIPuD8urFwCHntOl7PlARFD5SdUUyGk2Dxepha4WWAWuHpiGgjjpHVj5m2oxaZSLRY8CqIbmde00vjWITTmZ
STRIPE_SECRET=sk_test_51PaeHDRt9EMRKboIZulENGEQhnLKhz7yyh3y2sYXeHaubwMPMaoOzc02rHZuttaC3kAvOS5UBveGu1DIoVUs3Xud00TGfy3Sj6


# for chatify
PUSHER_APP_ID=1834703
PUSHER_APP_KEY=bc6e35a6522702e66ac2
PUSHER_APP_SECRET=566f97108f1bb2807b98
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=ap2